@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.border-b-secondary {
  @apply border-b-[1.5px] border-secondary-cl;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

@keyframes borderTransform {
  0% {
    scale: 1.05;
  }

  25% {
    scale: 1.15;
  }

  50% {
    scale: 1.25;
  }

  75% {
    scale: 1.15;
  }

  100% {
    scale: 1.05;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
