@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.border-b-secondary {
  @apply border-b-[1.5px] border-secondary-cl;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

@keyframes borderTransform {
  0% {
    width: 58px;
    height: 58px;
  }

  25% {
    width: 64px;
    height: 64px;
  }

  50% {
    width: 68px;
    height: 68px;
  }

  75% {
    width: 64px;
    height: 64px;
  }

  100% {
    width: 58px;
    height: 58px;
  }
}
